@mixin buttonWithoutBG($width: 0, $height: 0, $radius:0, $padding-x: 0, $padding-y: 0) {
  font: {
    weight: 400;
  }
  color: $black;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $light-gray ;
  border-radius: $radius+px;
  //padding: $padding-y+px $padding-x+px;
  @if $width > 0 {
    width: $width+px;
  }
  @if $height > 0 {
    height: $height+px;
  }
}
@mixin buttonWithBG($width: 0, $height: 0, $radius:0, $padding-x: 0, $padding-y: 0) {
  font: {
    weight: 400;
  }
  width: 100%;
  height: 100%;
  color: $white;
  background-color: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid $light-gray ;
  border-radius: $radius+px;

  padding: $padding-y+px $padding-x+px;
  @if $width > 0 {
    max-width: $width+px;
  }
  @if $height > 0 {
    max-height: $height+px;
  }
}