select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.form {
  margin: 0 auto;
  //border: 1px solid $orange;
  padding: 10px 20px;
  max-width: 600px;
  width: 100%;
  &-field {
    margin-bottom: 20px;
    //margin-right: 20px;
    width: 100%;
    &:last-of-type {
      margin-right: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &__btn {
      width: 100%;
    }


  }
  &-fields {
    margin-bottom: 60px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 20px;
  }
  &-select {
    border: none;
    background: rgba($white, 30%);
    color: $white;
    width: 100%;
    padding: 10px 15px;
    border-radius: 50px;
    & option.option {
      color: $black;
      border-radius: 16px;
      font: {
        size: 18px;
        weight: 700;
      }
      &:hover {
        background: $orange;
        color: $white;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid rgba($white, 30%);
    }

  }
  &-control {
    background: rgba($white, 30%);
    color: $white;
    width: 100%;
    padding: 10px 15px;
    border-radius: 50px;
    //border: 1px solid $dark-gray;
    border: none;
    &::placeholder {
      color: $white;
    }
    &:focus {
      outline: none;
      border: 1px solid rgba($white, 30%);
    }

  }

  &-submit {
    &__button {
      border: 1px solid $orange;
      background: $orange;
      color: $white;
      padding: 18px 25px;
      border-radius: 16px;
      width: 100%;
      text-align: center;
      line-height: 19.998px; /* 111.1% */
      font: {
        size: 18px;
        weight: 400;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.field {
  &-label {
    display: block;
    margin-left: 15px;
    margin-bottom: 8px;
    color: $white;
    font: {
      size: 18px;
      weight: 700;
    }
    &.required span {
      color: $red;
    }
  }
}

small.error {
  display: none;
  &.active {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
    display: block;
    color: $red;
    font:{
      weight: 700;
    }
  }
}

.scroll {
  &::-webkit-scrollbar {
    overflow-y: auto;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba($white, 30%);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid $white;
  }

}

