.hassle {
  padding-bottom: 200px;
  &-row {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &-col {
    &__text {
      max-width: 570px;
      margin-left: 55px;
      &_right {
        margin-left: 0;
        margin-right: 55px;
      }
    }
  }
  &-text {
    &__title {
      color: $black;
      line-height: 53.988px; /* 122.7% */
      margin-bottom: 10px;
      font: {
        size: 44px;
        weight: 700;
      }
      &_normal {
        font-weight: 400;
      }
    }
    &__desc {
      color: $dark-gray;
      line-height: 30.006px; /* 166.7% */
      margin-bottom: 33px;
      font: {
        size: 18px;
        weight: 400;
      }
    }
  }

  &-item {
    display: flex;
    margin-bottom: 32px;
    &__img {
      margin-right: 28px;
    }
    &__title {
      color: $black;
      line-height: 34.008px; /* 141.7% */
      margin-bottom: 14px;
      font: {
        size: 24px;
        weight: 400;
      }
    }
    &__desc {
      color: $dark-gray;
      line-height: 30.006px; /* 230.815% */
      font: {
        size: 13px;
        weight: 400;
      }
    }
  }
}