.hero {
  &-row {
    display: flex;
    align-items: center;
  }
  &-col {
    &__img {
      flex: 1 1 722px
    }
    &__text {
      margin-right: 50px;
    }
  }
  &-subtitle {
    margin-bottom: 28px;
  }
  &-title {
    margin-bottom: 16px;
  }
  &-text {
    color: $dark-gray;
    line-height: 30.006px; /* 250.05% */
    margin-bottom: 33px;
    font: {
      size: 12px;
      weight: 400;
    }
  }
  &-actions {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
  &-line {
    margin-bottom: 60px;
  }
  &-achievements {
    display: flex;
    align-items: center;
  }
  &-achievement {
    margin-right: 35px;
    &:last-of-type {
      margin-right: 0;
    }
    &__figures {
      color: $black;
      line-height: 66.024px; /* 117.9% */
      margin-bottom: 4px;
      font: {
        size: 56px;
        weight: 700;
      }
      & span {
        color: $orange;
        font-weight: 400;
      }
    }
    &__label {
      color: $dark-gray;
      line-height: 19.998px; /* 111.1% */
      margin-bottom: 4px;
      font: {
        size: 18px;
        weight: 400;
      }

    }
  }
}