@media (screen and min-width: 1600px) {
  .offer {
    & .container {
      max-width: 1230px;
      padding: 0 10px;
    }
    &-text {
      padding-left: 0;
    }
  }
}
@media (screen and max-width: 1320px) {
  .reviews {
    &-items {
      justify-content: center;
      flex-wrap: wrap;
    }
    &-item {
      margin-bottom: 30px;
      &__content {
        font-size: 14px;
      }
      &:nth-child(2n){
        margin-right: 0;
      }

    }

  }

}
@media (screen and max-width: 1312px) {
  .attract {
    &-col {
      &__picture {
        position: static;
      }
    }
  }

}
@media (screen and max-width: 1200px) {
.header {
  &-flex-container {
    justify-content: center;
  }
  &-col {
    &__logo {
      margin-right: 100px;

    }
  }

}

  .hero {
    &-row {
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
    }
    &-col {
      &__text {
        margin-right: 0;
      }
      &__img {
        display: none;
      }
    }
  }
  .advantages {
    &-row {
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
    }
    &-block {
      &__text {
        padding: 0 10px;
        margin-right: 0;
      }
    }
  }
  .advantage {
    &-blocks {
      margin-bottom: 30px;
    }
    &-block {

    }

  }
  .offer {
    padding-bottom: 100px;
    &-row {
      flex-direction: column;
    }
    &-sliders {
      order: -1;
      margin-bottom: 30px;
    }
    &-text {
      padding-left: 0;
      &__desc {
        padding-right: 0;
      }
    }
    &-btn {
      margin: 0 auto;
    }
  }
}
@media (screen and max-width: 1130px) {
  .attract {
    &-text {
      &__title {
        font-size: 45px;
      }
    }
  }
}
@media (screen and max-width: 1120px) {
  .step {
    &-title {
    }
    &-blocks {
      flex-wrap: wrap;
    }
    &-block {
      margin-bottom: 20px;
      margin-right: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .features {
    &-content {
      &__top {
        margin-bottom: 30px;
      }
    }
    &-blocks {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-block {
      margin-right: 45px;
      margin-bottom: 45px;
    }
  }
  .app {
    &-col {
      &__text {
        margin-right: 120px;
      }
    }
  }

}
@media (screen and max-width: 992px) {
  .trust {
    &-content {
      &__images {
        flex-direction: column;
      }
      &__image-block {
        margin-bottom: 30px;
        margin-right: 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .step {
    &-content {
      padding: 100px 0;
    }
    &-blocks {
      justify-content: center;
    }
  }
  .advantages {
    padding: 100px 0;
  }
  .features {
    padding: 150px 0;
  }
  .hassle {
    &-row {
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
    }
    &-col {
      margin-bottom: 20px;
      &__text {
        margin-left: 0;
        margin-right: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }

    }
  }
  .reviews {
    &-content {
      padding: 100px 0;
    }
    &-top {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      &__text {
        margin-bottom: 30px;
      }
    }
    &-item {
      max-width: 100%;
    }
  }
  .attract {
    &-content {
      padding-bottom: 80px;
    }
    &-row {
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
    }
    &-text {
      margin-bottom: 30px;
    }
  }
  .app {
    &-row {
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
    }
    &-col {
      &__text {
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
  }
  .footer {
    &-lists {
      flex-direction: column;
      margin-bottom: 50px;
    }
    &-list {
      width: 100%;
      margin-bottom: 30px;
      &__title {
        box-shadow: 0 3px 12px 0 rgba(18, 18, 18, 0.06);
        width: 100%;
        margin-bottom: 0;
        color: $orange;
        //border: 1px solid $black;
        border-radius: 15px;
        padding: 8px 10px;
        position: relative;
        &::before,&::after {
          content: '';
          width: 2px;
          height: 20px;
          background: $orange;
          position: absolute;
          transition: all 0.8s ease;
          top:25%;
          right: 40px;
          //transform: translateY(-50%);
        }
        &::before {
          transform: rotate(90deg);
        }
        &.active {
          margin-bottom: 30px;
          &::after{
            transform: rotate(90deg);
          }
        }
      }
    }
    &-menu {
      transition: max-height 0.8s ease;
      max-height: 0;
      overflow: hidden;
      margin-bottom: 0;
      margin-right: 0;
      &__parent {
        width: 100%;
      }
      &_1 {
        margin-bottom: 20px;
      }
      &.active {
        overflow: auto;
        max-height: 500px;
        transition: max-height 0.8s ease;

      }
      &_first {
        flex-direction: column;
        transition: max-height 0.8s ease;
        max-height: 0;
        overflow: hidden;
        &.active {
          overflow: auto;
          max-height: 400px;
          transition: max-height 0.8s ease;

        }

      }


    }
  }

}
@media (screen and max-width: 940px) {
  .popup {
    width: 80%;
  }
  .burger.mobile {
    display: block;
  }

  .header {
    &-flex-container {
      justify-content: space-between;
    }
    &-col {
      &__logo {
        margin-right: 0;
      }
    }
    &-mobile__block {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100%;
      background: $white;
      z-index: 100;
      align-items: flex-start;
      flex-direction: column;
      padding: 5px 10px;
      transition: all 0.8s ease;
      &.active {
        left: 0;
        overflow-y: auto;
      }
    }
    &-interaction {
      align-items: flex-start;
      width: 100%;
      margin-top: auto;
      justify-content: center;
      padding-top: 80px;
    }
    &-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-menu{
      &__list {
        width: 85%;
        align-items: flex-start;
        flex-direction: column;
        max-height: 300px;
        overflow-y: auto;
      }
      &__item {
        border-radius: 15px;
        margin-right: 0;
        margin-bottom: 15px;
        width: 80%;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      &__link {
        border: 1px solid $orange;
        &.active {
          color: $white;
          background: $orange;
        }
        border-radius: 15px;
        display: block;
        width: 100%;
        padding: 10px 5px;
        padding-left: 20px;
      }
    }

    &-nav {
      margin-right: 0;
    }
  }
  .close-btn__menu {
    top:10px;
    right: 5px;
    display: block;
  }
}
@media (screen and max-width: 768px) {
  .popup {
    width: 100%;
  }
  .hero {
    &-col {
      &__text {
        padding: 50.5px 0;
      }
    }
    &-title {
      font-size: 50px;
      line-height: 55px;

    }
    &-achievements {
      flex-direction: column;
      align-items: center;
    }
    &-achievement {
      margin-right: 0;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }

      &__figures {
        font-size: 45px;
        text-align: center;
      }
      &__label {
        text-align: center;
      }
    }
    &-actions {
      justify-content: center;
    }
  }

  .step {
    &-content {
      padding: 80px 0;
    }
    &-blocks {
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
    }
    &-block {
      margin-right: 0;
    }
  }
  .block-title {
    font-size: 42px;
    line-height: 56px;
  }
  .trust {
    &-content {
      padding:70px 0;
    }
  }
  .advantages {

    &-block {
      &__text {
        max-width: 100%;
      }
    }
  }
  .advantage {
    &-blocks {
      &__row {
 /*       flex-direction: column;
        justify-content: stretch;
        align-items: center;*/
        display: block;
      }

    }
    &-block {
      margin-right: 0;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .features {
    &-blocks {
      margin-bottom: 20px;
      flex-direction: column;
    }
    &-block {
      margin-right: 0;
      &__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
  }
  .footer {
    &-copyright {
      &__text {
        flex-direction: column;
        & p {
          margin-right: 0;
        }
      }
    }
  }

}
@media (screen and max-width: 576px) {
  .step {
    &-block {
      &__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;
      }
      &__info {
        font-size: 15px;
      }
    }
  }
  .advantages {
    &-title {
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 10px;
    }
  }
  .features {
    padding: 100px 0;
    &-content {
      &__desc {
        br {
          display: none;
        }
      }
    }
    &-title {
      font-size: 38px;
      line-height: 50px;
    }
  }
  .offer {
    padding-top: 80px;
    & .container {
      padding: 0 20px;
    }
    &-text {
      &__title {
        font-size: 45px;
        line-height: 55px;
      }
    }
    &-sliders {
      flex-direction: column;
      align-items: center;
    }
    &-slider {
      &__left {
        margin-bottom: 30px;
        margin-right: 0!important;

        //margin-left: auto;
        //max-width: 800px;
      }
    }
  }
  .swiper {
    margin-left: 0;
    margin-right: 0;
    &-slider {
      &__left {
        margin-right: 0;
      }
    }
    &-slide {
      max-width: 323px;
    }
  }
}

@media (screen and max-width: 475px) {
  .actions {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }
  .close-btn {
    width: 25px;
    height: 25px;
  }
  .popup {
    &-title {
      font-size: 25px;
    }
  }
  .block-title {
    font-size: 36px;
    line-height: 50px;
  }
  .header {
    &-mobile__block {
      width: 100%;
    }
  }
  .hero {
    &-title {
      font-size: 40px;
    }
    &-subtitle {
      margin-bottom: 10px;
    }
    &-actions {
      flex-direction: column;
    }
  }
  .action {
    &_1 {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .trust {
    &-content {
      &__text {
        font-size: 18px;
        margin-bottom: 25px;
        line-height: 30px;

      }
    }
  }
  .advantages {
    &-title {
      font-size: 28px;
      line-height: 35px;
    }
  }
  .step {
    &-actions {
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      margin-bottom: 80px;
    }
  }
  .features {
    &-title {
      font-size: 30px;
      line-height: 42px;
    }
    &-block {
      &__desc{
        font-size: 14px;
      }
    }

  }
  .hassle {
    &-text {
      &__title {
        line-height: 45px;
        font-size: 35px;
      }
      &__desc {
        font-size: 15px;
        margin-bottom: 28px;
      }
    }
    &-item {
      &__title {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }
  .reviews {
    &-text {
      &__title {
        font-size: 30px;
        text-align: center;
      }
    }
  }
  .app {
    &-buttons {
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
    }
  }
  .download-ios {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer-copyright__text p {
    font-size: 14px;
  }
}
@media (screen and max-width: 435px) {
  .attract {
    &-text {
      &__title {
        font-size: 35px;
        line-height: 50px;
      }
    }
  }
}
@media (screen and max-width: 375px) {
  .popup {
    &-title {
      font-size: 20px;
    }
  }

  .header {
    &-col {
      &__logo {
        margin-right: 0;
      }
    }
  }

  .hero {
    &-title {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .block-title {
    font-size: 28px;
    line-height: 38px;
  }

  .hassle {
    &-text {
      &__title {
        line-height: 38px;
        font-size: 28px;
      }

    }
  }
  .offer {
    &-text {
      &__title {
        font-size: 35px;
        line-height: 45px;
      }
    }
  }


}
@media (screen and max-width: 320px) {
  .reviews {
    &-item {
      &__content {
        font-size: 12px;
      }
      &-top {
        &__name {
          font-size: 14px;
        }
      }
    }
  }

}

@media screen and (max-height: 768px) and (orientation: landscape) {
  .popup {
    &.active {
      overflow-y: auto;
      height: 100%;
    }
    &-content {
      &::before {
        border-radius: 9px;
      }

    }
  }
}

