*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  min-height: 100%;
  height: 100%;
}
body {
  font: {
    family: 'Roboto';
    weight: 400;
  }
}
h1,h2,h3,h4,h5,h6, p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, li ul li {
  list-style: none;
}

.lock {
  overflow: hidden;
}